{% extends 'base.html.twig' %}

{% block title %}Votre panier
{% endblock %}

{% block body %}
	<div class="container container-cart mt-5">
		{% if items is not empty %}
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 pl-2">
					<h1 class="mb-5 block-cart-title">Récapitulatif de ma commande</h1>
                    <div>
                        <p class="psst-description">Psst... Avez-vous tout ce qu'il vous faut ?</p>
                        <div class="text-center">
                            <a href="{{path('products')}}"class="btn-fra">Continuer vos achats</a>
                        </div>
                    </div>
					<table class="table table-cart">
						<thead>
							<tr>
								<th scope="col" class="product-description">Nom</th>
								<td></td>
								<th scope="col" class="product-description">Prix</th>
								<th scope="col" class="product-description">Quantité</th>
								<th scope="col" class="product-description">Total</th>
                                <td></td>
							</tr>
						</thead>
						<tbody>
							{% for item in items %}
								<tr>
									<td class="psst-description">{{item.product.name}}</td>
									<td>
										<img src="/uploads/images/{{item.product.image}}" alt="{{item.product.name}}" width="20%"></td>
									<td class="product-description">{{item.product.price}}
										€</td>
									<td class="product-description">{{item.quantity}}</td>
									<td class="product-description">{{item.product.price * item.quantity}}
										€</td>
									<td>
										<a href="{{path('cart_remove', {'id' : item.product.id})}}" class="btn btn-danger btn-sm">
											<i class="fas fa-trash"></i>
										</a>
									</td>
								</tr>
							{% endfor %}
                            
                                <td class="total-description">
                                    TOTAL COMMANDE:
                                </td>
                                <td class="total-description">
                                    {{total}}€ TTC
                                </td>
                            
						</tbody>
					</table>
                    </div>
				</div>
			</div>
            <div class="text-center btn-checkout">
                <a href="{{path('cart_successcart')}}" class="payment btn btn-light text-center nav-item nav-link-button mb-5"><i class="fas fa-credit-card"></i> Procéder au paiement</a>
            </div>
		{% else %}
			<div class="text-center">
				<h1 class="display-4 text-dark big-title">Oups, je ne vois pas de produits ici!</h1>
				<img src="{{ asset('build/empty_cart.svg') }}" width="35%" alt="empty-cart">
			</div>
			<div class="text-center">
				<a href="{{path('products')}}" class="text-lg previous-page">Retour à la boutique</a>
			</div>
	    {% endif %}
    </div>
{% endblock %}

