{% extends 'base.html.twig' %}

{% block title %}Créer mon compte
{% endblock %}

{% block body %}
	<div class="container mt-3">
		{% for flashError in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flashError }}</div>
		{% endfor %}
		{{ form_start(registrationForm) }}
			{{ form_row(registrationForm.lastname) }}
			{{ form_row(registrationForm.firstname) }}
			{{ form_row(registrationForm.email) }}
			{{ form_row(registrationForm.plainPassword) }}
			{{ form_row(registrationForm.address) }}
			{{ form_row(registrationForm.agreeTerms) }}
			<button class="btn btn-lg bg-warning text-black mb-3 btn-filtre" type="submit">{{ button_label|default('Créer mon compte') }}</button>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
